<!-- Set title of app -->
{% block title %}NEWSAPI{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
<h1>Authorize to continue</h1>
{% endblock %}
<!-- Remove user panel from left sidebar -->
{% block user_panel %}
{% endblock user_panel %}
{% block nav_heading %}
{% endblock nav_heading %}

<!-- Define navbar links -->
{% block links%}
    <li>
        <a href="/admin">
            <i class="fa fa-cog"></i>
            <span>Authorize Django AdminLTE3</span>
        </a>
    </li>
{% endblock links%}